*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1240px;
    margin: auto;
    /* background-color: green; */
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

ul li{
    cursor: pointer;
    align-self: center;
    color: rgba(179, 178, 178, 0.623);
}

ul li:hover{
    color: #000;
}

.img-logo{

    width: 130px;
}

.box-dropdown{
    position: relative;
    display: flex;
    justify-content: center;
}

.box-dropdown ul li{
    padding: 0 4px;
    line-height: 2.2;
    font-size: 15px;
    text-transform: capitalize; 
}

.menu-drop{
    display:none;
    position: absolute;
    width: 175px;
    padding: 5px;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.6);
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.menu-drop.active{
    display: block;
}

button{
    padding: 10px 15px;
    text-transform: capitalize;
    color: #fff;
    background-color: #eb008d;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}
.black{
    color:#000;
}

.upper-case{
    text-transform: uppercase;
}

/* *****debug**** */
.none{
    display: none;
}

.show{
    display: block;
}

.justify{
    text-align: justify;
}