*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1240px;
    margin: auto;
    /* background-color: green; */
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

ul li{
    cursor: pointer;
    align-self: center;
    color: rgba(179, 178, 178, 0.623);
    text-transform: capitalize; 
}

ul li:hover{
    color: #000;
}

.img-logo{
    width: 130px;
}

.box-dropdown{
    position: relative;
    display: flex;
    justify-content: center;
}

.box-dropdown ul li{
    padding: 0 4px;
    line-height: 2.2;
    font-size: 15px;
}

.menu-drop{
    display:none;
    position: absolute;
    width: 175px;
    padding: 25px 5px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.6);
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.menu-drop.active{
    display: block;
}

.btn{
    padding: 10px 15px;
    color: #fff;
    background-color: #eb008d;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.center{
    text-align: center;
}

i.left{
    margin-left: 8px;
    font-size: 10px;
    align-self: center;
    transition: all 0.5s;
}

.lenguage:hover i{
    transform: rotate(180deg);
}

.black{
    color:#000;
}

.upper-case{
    text-transform: uppercase;
}

/* *****debug**** */
.none{
    display: none;
}

.show{
    display: block;
}

.justify{
    text-align: justify;
}


.beta::after{
    display: block;
    position: absolute;
    content: 'beta';
    color: #eb008d;
    font-size: 11px;
    top: 30%;
    left: 25%;
    text-transform: lowercase;
}


.nuovo::after,
.nuovo-due::after{
    display: block;
    position: absolute;
    content: 'Nuovo';
    color: #eb008d;
    font-size: 11px;
    top: 81%;
    left: 45%;
}

.nuovo-due::after{
    top: 88%;
    left: 45%;
}

